*{
    margin: 0;
    padding: 0;
}

#contenedor{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 5%;
}

#header{
    width: 100%;
}

#header article{
    height: 100px;
    width: 45%;
    float: left;
    margin-left: 3.5%;
    background-color: orange;
}

#nav{
    height: 400px;
    width: 93.5%;
    margin-top: 2.5%;
    margin-left: 3.5%;
    background-color: greenyellow;
}

#contenido{
    width: 100%;
    margin-top: 2.5%;
}

#contenido article{
    height: 230px;
    width: 28.85%;
    float: left;
    margin-left: 3.5%;
    background-color: blue;
}

#footer{
    width: 100%;
    margin-top: 2.5%;
}

#infofinal article{
    height: 170px;
    width: 20.76%;
    float: left;
    margin-left: 3.5%;
    background-color: lightgray;

}

.clearfix{
    float: none;
    clear: both;
}

@media(max-width: 768px){
    #header article{
        width: 97%;
        height: 70px;
        margin-left: 1.5%;
        margin-bottom: 1.5%;
    }

    #nav{
        margin-left: 1.5%;
        width: 97%;
        height: 300px;
    }

    #contenido article{
        margin-left: 1.5%;
        width: 97%;
        height: 90px;
        margin-top: 1.2%;
    }

    #infofinal article{
        width: 47.7%;
        height: 80px;
        margin-top: 1%;
        margin-left: 1.5%;
    }
}

@media(max-width: 320px){

    #nav{
        height: 120px;
    }

    #contenido article{
        margin-top: 2.5%;
        height: 180px;
    }

    #infofinal article{
        width: 97%;
        margin-top: 2.5%;
    }
}



